# Python-related
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS-specific
.DS_Store
Thumbs.db

# Project-specific
*.log
*.sqlite3

# API keys and sensitive information
.env



# Jupyter Notebooks
.ipynb_checkpoints/

# Miscellaneous
.cache/
.pytest_cache/